# Python
__pycache__/
*.py[cod]
*.egg-info/
env/
venv/
.env

# Data / models / large files (do NOT push)
*.keras
*.h5
*.ckpt
*.pkl
*.joblib
*.sqlite3
rockyou.txt

# Flask runtime
instance/
*.log

# OS
.DS_Store
Thumbs.db
